

<header class="page-header"><a routerLink="/home" style="float: right; margin-right: 100px;" class="btn btn-success">Leave</a>
    <div class="container ">
      <h2>Chat Room</h2>
      
    </div>
  </header>
  <div class="main">
    <div class="container ">
      <div class="chat-log">
        <div class="chat-log__item" *ngFor="let i of pro">
          <h3 class="chat-log__author">{{i.user}}<small>{{i.date_added}}</small></h3>
          <div class="chat-log__message">{{i.content}}</div>
        </div>
        <!-- <div class="chat-log__item chat-log__item--own" *ngFor="let i of pro">
          <h3 class="chat-log__author">Me<small>{{i.date_added}}</small></h3>
          <div class="chat-log__message">{{i.content}}</div>
        </div> -->
      </div>
    </div>
    <div class="chat-form">
      <div class="container ">
        <form class="form-horizontal" [formGroup]="chatForm" >
          <div class="row">
            <div class="col-sm-10 col-xs-8">
              <input type="text" formControlName="message" class="form-control" id="" placeholder="Message" />
              <div class="alert alert-danger" *ngIf="chatForm.get('message')?.invalid && chatForm.get('message')?.touched">
                Enter Valid Message
            </div>

            </div>
            <div class="col-sm-2 col-xs-4">
              <button (click)="submitted()"  class="btn btn-success btn-block">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


